on:
  push:
  pull_request:
  release:
    types:
      - published

name: 'Build and optionally publish ResoniteLink'

jobs:
  build-publish:
    name: 'Build and publish library'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6

      - name: 'Get folder for nugets'
        id: get-folder
        run: echo "out-folder=$(pwd)/nupkgs" >> $GITHUB_OUTPUT

      - name: 'Build ResoniteLink'
        if: ${{ github.event_name != 'release' }}
        uses: ./.github/actions/build-link
        with:
          out-folder: ${{ steps.get-folder.outputs.out-folder }}

      - name: 'Publish ResoniteLink'
        uses: ./.github/actions/publish-link
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        with:
          out-folder: ${{ steps.get-folder.outputs.out-folder }}
          additional-args: '-p:Version=${{ github.ref_name }}'
          nuget-token: ${{ secrets.NUGET_TOKEN }}
