name: 'Build and optionally publish ResoniteLink'

on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  release:
    types:
      - published

env:
  IS_RELEASE: ${{ github.event_name == 'release' && github.event.action == 'published' }}

jobs:
  build-publish-resonitelink:
    name: 'Build and publish library'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      PROJECT_PATH: 'ResoniteLink'
      BUILD_TYPE: 'pack'

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6

      - name: 'Build ResoniteLink'
        if: ${{ env.IS_RELEASE == 'false' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build@main
        with:
          dotnet-build-type: '${{ env.BUILD_TYPE }}'
          dotnet-project-path: '${{ env.PROJECT_PATH }}'

      - name: 'Build release of ResoniteLink'
        if: ${{ env.IS_RELEASE == 'true' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build@main
        with:
          dotnet-build-type: '${{ env.BUILD_TYPE }}'
          dotnet-build-args: '-p:Version=${{ github.ref_name }} -o ${{ github.workspace }}/nupkgs'

      - name: 'Publish ResoniteLink'
        if: ${{ env.IS_RELEASE == 'true' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build-push-nuget@main
        with:
          dotnet-nuget-auth-token: '${{ secrets.NUGET_TOKEN }}'
          dotnet-nuget-out-path: '${{ github.workspace }}/nupkgs'

  build-publish-REPL:
    name: 'Build and optionally publish the ResoniteLink reference CLI, REPL'
    runs-on: ubuntu-latest

    env:
      PROJECT_PATH: 'ResoniteLink.REPL'

    permissions:
      contents: write

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6

      - name: 'Build REPL'
        if: ${{ env.IS_RELEASE == 'false' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build@main
        with:
          dotnet-project-path: '${{ env.PROJECT_PATH }}'

      - name: 'Build REPL for release'
        if: ${{ env.IS_RELEASE == 'true' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build@main
        with:
          dotnet-project-path: '${{ env.PROJECT_PATH }}'
          dotnet-build-args: '-p:Version=${{ github.ref_name }} -o ${{ github.workspace }}/repl'

      - name: 'Package REPL for release'
        if: ${{ env.IS_RELEASE == 'true' }}
        run: zip -r repl.zip repl/*

      - name: 'Attach REPL package to release'
        if: ${{ env.IS_RELEASE == 'true' }}
        uses: softprops/action-gh-release@v2
        with:
          files: 'repl.zip'
